body
{
    background-color:#8FBC8F;
    font-family:Arial, sans-serif;
}

.content {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 50px;
  text-align: center;
  font-family:Arial, sans-serif;
}

  h1, h2, h3 {
        text-align: center;
        color:#348700;
      }

.mastermindtable {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.mastermindtable td, .mastermindtable th {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: center;
}

.mastermindtable tr td:first-child {
  width: 10%;
}

.mastermindtable tr th:last-child {
  width: 20%;
}

.mastermindtable td:hover {border: 3px solid #ddd;}

.mastermindtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

.colortab {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 78%;
  table-layout: fixed;
}

.firsttab {
    padding-left: 11%;
}

.colortab td, .colortab th {
  border: 2px solid #ddd;
  padding: 2px;
  height: 30px;
  text-align: center;
}

.colortab td:hover {background-color: #ddd;}

.button1 {
    display: flex;
    justify-content: center;
    border: 1px solid #0066cc;
    background-color:azure;
    color: #ffffff;
    width: 100px;
    height: 30px;
    font-family: Arial, sans-serif;
}

.button {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}

.button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

.button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: none;
}

.parent {
  display: table
}
.child {
    color: #fff;
    display: table-cell;
    padding: 5px;
    vertical-align: top;
}

.left .right {
  width: 20%;
}

.center {
  width: 60%;

}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 80%;
}

.button:hover {
    background-color: #348700;
}

.radio-group {
    left: 10%;
    padding: 5px 12px;
}

