#history {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

#history td, #history th {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: center;
}

#history tr td:first-child {
  width: 120px;
}

#history td:hover {border: 3px solid #ddd;}

#history th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

.colortab {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
  table-layout: fixed;
}

.colortab td, .colortab th {
  border: 2px solid #ddd;
  padding: 2px;
  height: 30px;
  text-align: center;
}

.colortab td:hover {background-color: #ddd;}

.button1 {
    display: flex;
    justify-content: center;
    border: 1px solid #0066cc;
    background-color:azure;
    color: #ffffff;
    width: 100px;
    height: 30px;
    font-family: Arial, sans-serif;
}

.button {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}

.button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

.button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: none;
}

div {
  padding: 5px 10px;
}

