
<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
       <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
      <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'js/game.js') }}" ></script>
   </head>
   <body>
   Welcome {{username}} to Mastermind game!
   <br>

        <input id="2_codes" name="num_codes" class="radio" type="radio" value="2"
               onclick="selectGame(2)">2 columns <br>
        <input id="3_codes" name="num_codes" class="radio" type="radio" value="3"
               onclick="selectGame(3)">3 columns <br>
        <input id="4_codes" name="num_codes" class="radio" type="radio" value="4" checked
               onclick="selectGame(4)">4 columns <br>
       <input id="5_codes" name="num_codes" class="radio" type="radio" value="5"
               onclick="selectGame(5)">5 columns <br>
       <input id="6_codes" name="num_codes" class="radio" type="radio" value="6"
               onclick="selectGame(6)">6 columns <br>
       <input id="7_codes" name="num_codes" class="radio" type="radio" value="7"
               onclick="selectGame(7)">7 columns <br>

   <button class="button" id="new_game" onclick="newGame()" > New Game </button>
   <br>  <br>
   <button class="button" id="play_random" onclick="playRandom()" > Play Random Code </button>
   <br>  <br>
   <button class="button" id="get_hint" onclick="getHint()" > Get Hint </button>

   <form action = "/score" method = "get">
         <p><input class="button" type = "submit" value = "Score Board" /></p>
      </form>


    <form action = "/logout" method = "get">
    <p><input style="background-color: blue" class="button" type = "submit" value = "Log out" /></p>
    </form>

    <input id="gameid" type="hidden" name="gameid" value={{ gameid }}>
    <!--<input id="code1" type = "text" name = "code1" />-->
    <!--<input id="code2" type = "text" name = "code2" />-->
    <!--<input id="code3" type = "text" name = "code3" />-->
    <!--<input id="code4" type = "text" name = "code4" />-->
    <!--<input class="button" type = "submit" value = "Guess" />-->


        <table id="colortable" class="colortab" align="center"> </table>
        <br>
        <!--<table id="colorinput" class="colortab" align="center"> </table>-->
        <!--<br>-->
<!--<div align="center">-->
<!--<button class="button" id="guess" onclick="submitGuess()" disabled="true"> Guess </button>-->
<!--</div>-->
<!--<br>-->
    <!--<div align="center">-->
        <table id="history" class="mastermindtable" align="center"> </table>
    <!--</div>-->

    </body>

</html>
